#entete, #menu, #contenu {
padding:0px ;
top:0;
position:relative;
}
#entete {
background-color:#F4F4F4;
text-align:center;
margin-left:300px;
margin-right:300px;
border: 3px black ridge;
height:135px;
padding:5px;
border-radius: 10px;
box-shadow: 6px 6px 6px black;
}
http://mfs3.cdnsw.com/fs/Utilitaires/9a6zl-Fonds_encore_plus_neutre_et_plus_clair.jpg
#main {

margin:auto;
height:400px;
}
#menu1  {
float:left;

width:240px;

}

#menu2  {
float:right;

width:240px;

}

#contenu {
margin-left:300px;
margin-right:300px;
height:500px;
border: 3px black ridge;
background-color:#F4F4F4;
border-image:#955628;
border-radius: 10px;
box-shadow: 0px 3px 0px 3px black;
}

#footer {
width:910px;
left:305px;	
border: solid 1px;
background-color:#F4F4F4;
text-align:center;
clear:both;
position:fixed;
bottom: 0;
border-radius: 5px;
border: 3px black ridge;
}



h1{
font-family: Arial, sans-serif;
color:#77B7FE;
	
}

h2{
font-family:Arial;
color:#34353E;

width:150px;	
}

.bloc-fixe {
  position:absolute;
  border: 3px black ridge;
  width:710px;
  top:20px;
  left:80px;
  bottom:10px;
  height:425px;
  padding:10px;
background-image:url(gris.jpg);
border-radius: 10px;
box-shadow: 0px 6px 0px   black;
}


#button{
position:absolute;
bottom:0px;	
width:700px;
border-radius:12px 0 12px 0;
background-color: white;
border:none;
color:#555;
font:bold 20px Verdana;
padding:6px 0 6px 0;
border:1px solid #ccc;
}




img {
  vertical-align:middle;
  width:30px
  height:30px;
  
  
  
}


  
 #campus{
border-radius: 10px;	 
 } 
  
html, body{height: 100%; /*fait en sorte que la page occupe tout l'espace*/


} 